<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Flask App</title>
</head>
<script type="text/javascript" src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>


<body>
<nav class="navbar container">
	<div class="col-md-6 col-sm-6 col-md-offset-3 col-md-offset-3">
		<div class="row row-centered">
		<button id="1" type="button" class="menu-item btn btn-primary col-sm-3 col-xs-12 col-centered" onclick="switchMenu(this.id)">Menu1</button>
		<button id="2" type="button" class="menu-item btn btn-secondary col-sm-3 col-xs-12 col-centered" onclick="switchMenu(this.id)">Menu2</button>
		<button id="3" type="button" class="menu-item btn btn-secondary col-sm-3 col-xs-12 col-centered" onclick="switchMenu(this.id)">Menu3</button>
		</div>
	</div>
</nav>
<div id="1" class="content container col-md-8 col-md-offset-2">
	{# a {{ jelek közötti rész a jinja2 template engine-hez tartozik}} #}
	{#	további információk: http://jinja.pocoo.org/docs/2.9/ #}
	<h1>Hello {{ user }}</h1>
</div>



<div id="2" class="inactive-content content container col-md-8 col-md-offset-2">
	<h1>Dev környezet web apphoz </h1>
	javascript package manager (nodejs) :npm <br>
	<code>(apt install nodejs...)</code> <br>
	web package manager: <br>
	<code>bower (npm install --global bower) </code> <br>
	web package-ek telepítése a static mappába: bower install bootstrap <br>

	<h2>BackEnd: </h2>
	pyhton3 telepítése: <br>
	<code>apt install pyhton3 </code> <br>
	Python csomagkezelője: pip <br>
	<code>apt install pyhton3-pip </code> <br>
	<h3>Python csomag: virtualenv </h3> <br>
	<code>sudo pip install virtualenv </code> <br>
	Virtualenv:  elszeparált környezet az adott fejlesztéshez... Lértehozása: <br>
	<code>virtualenv -p pyhton3 /home/userem/virtualenv/sajat_appom </code> <br>
	A virtualenv-et létrehozás után aktiválni kell: <br>
	<code>source /home/userem/virtualenv/sajat_appom/bin/activate </code> <br>
	Ezután minden amit pythonban csinálunk, a virtualenv-en belül fog működni CSAK. <br>
	Python csomag telepítése: <br>
	<code>pip install flask </code> <br>
</div>


<div id="3" class="inactive-content content container col-md-8 col-md-offset-2">
Logout...
	
</div>





</body>
</html>